html {
  background-color: #000;
}

.clock-face {
  position: relative;
  height: 300px;
  margin: 50px auto;
  width: 300px;

  background: transparent url("../images/clock-face.svg") no-repeat center center;
}

.center {
  position: absolute;
  left: 45%;
  top: 140px;
  width: 28px;
}

.hand {
  position: absolute;
  left: 47.5%;
  top: 70px;
  width: 14px;

}

.hand-hour {
  transform-origin: bottom;
  animation: spin 4s infinite;
  top: 100px;
}

.hand-minute {
  transform-origin: bottom;
  animation: spin 800ms infinite;
}

@keyframes spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
